.hero__wrapper {
    overflow-x: hidden;
}
.hero {
    text-align: center;
    padding: 15rem 0 10rem;
}
.hero .title {
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero .title span {
    display: block;
}
.hero .text {
    margin: 0 auto 2rem;
    max-width: 35rem;
}
.hero .btn {
    margin-bottom: 3rem;
}
.hero__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
}
.hero__list::before {
    position: absolute;
    display: block;
    content: '';
    top: -5rem;
    left: -4rem;
    width: 20rem;
    height: 20rem;
    z-index: -2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' width='2480px' height='3508px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewBox='0 0 2480 3507.43'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .fil1 %7Bfill:%23000000%7D .fil0 %7Bfill:%23000000;fill-rule:nonzero%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Слой_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'%3E%3C/metadata%3E%3Cg id='Page-1'%3E%3Cg id='Artboard-Copy'%3E%3Cg id='___35_1_2_2_1'%3E%3Cpath id='Path' class='fil0' d='M101.74 813.67c25.25,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_0' class='fil1' d='M101.74 813.67c25.25,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_1' class='fil0' d='M663.49 813.67c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_2' class='fil1' d='M663.49 813.67c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_3' class='fil0' d='M1225.43 813.67c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_4' class='fil1' d='M1225.43 813.67c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_5' class='fil0' d='M1787.18 813.67c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_6' class='fil1' d='M1787.18 813.67c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_7' class='fil0' d='M2349.48 813.67c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_8' class='fil1' d='M2349.48 813.67c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_9' class='fil0' d='M101.74 1306.41c25.25,0 45.75,-20.46 45.75,-45.72 0,-25.25 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.45 -45.75,45.7 0,25.26 20.48,45.72 45.75,45.72z'%3E%3C/path%3E%3Cpath id='Path_10' class='fil1' d='M101.74 1306.41c25.25,0 45.75,-20.46 45.75,-45.72 0,-25.25 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.45 -45.75,45.7 0,25.26 20.48,45.72 45.75,45.72z'%3E%3C/path%3E%3Cpath id='Path_11' class='fil0' d='M663.49 1306.37c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.74 -45.75,-45.74 -25.25,0 -45.74,20.49 -45.74,45.74 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_12' class='fil1' d='M663.49 1306.37c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.74 -45.75,-45.74 -25.25,0 -45.74,20.49 -45.74,45.74 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_13' class='fil0' d='M1225.43 1306.37c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.74 -45.75,-45.74 -25.27,0 -45.75,20.49 -45.75,45.74 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_14' class='fil1' d='M1225.43 1306.37c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.74 -45.75,-45.74 -25.27,0 -45.75,20.49 -45.75,45.74 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_15' class='fil0' d='M1787.18 1306.37c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.74 -45.76,-45.74 -25.26,0 -45.75,20.49 -45.75,45.74 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_16' class='fil1' d='M1787.18 1306.37c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.74 -45.76,-45.74 -25.26,0 -45.75,20.49 -45.75,45.74 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_17' class='fil0' d='M2349.48 1306.37c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.74 -45.72,-45.74 -25.28,0 -45.75,20.49 -45.75,45.74 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_18' class='fil1' d='M2349.48 1306.37c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.74 -45.72,-45.74 -25.28,0 -45.75,20.49 -45.75,45.74 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_19' class='fil0' d='M101.74 1798.67c25.25,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_20' class='fil1' d='M101.74 1798.67c25.25,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_21' class='fil0' d='M663.49 1798.67c25.28,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.26 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_22' class='fil1' d='M663.49 1798.67c25.28,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.26 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_23' class='fil0' d='M1225.43 1798.67c25.27,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_24' class='fil1' d='M1225.43 1798.67c25.27,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_25' class='fil0' d='M1787.18 1798.67c25.28,0 45.76,-20.45 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.26 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_26' class='fil1' d='M1787.18 1798.67c25.28,0 45.76,-20.45 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.26 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_27' class='fil0' d='M2349.48 1798.67c25.25,0 45.72,-20.45 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.26 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_28' class='fil1' d='M2349.48 1798.67c25.25,0 45.72,-20.45 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.26 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_29' class='fil0' d='M101.74 2291.04c25.25,0 45.75,-20.48 45.75,-45.71 0,-25.25 -20.5,-45.73 -45.75,-45.73 -25.27,0 -45.75,20.48 -45.75,45.73 0,25.23 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_30' class='fil1' d='M101.74 2291.04c25.25,0 45.75,-20.48 45.75,-45.71 0,-25.25 -20.5,-45.73 -45.75,-45.73 -25.27,0 -45.75,20.48 -45.75,45.73 0,25.23 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_31' class='fil0' d='M663.49 2291c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.45 -45.74,45.71 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_32' class='fil1' d='M663.49 2291c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.45 -45.74,45.71 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_33' class='fil0' d='M1225.43 2291c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.45 -45.75,45.71 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_34' class='fil1' d='M1225.43 2291c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.45 -45.75,45.71 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_35' class='fil0' d='M1787.18 2291c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.26 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.45 -45.75,45.71 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_36' class='fil1' d='M1787.18 2291c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.26 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.45 -45.75,45.71 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_37' class='fil0' d='M2349.48 2291c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.26 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.45 -45.75,45.71 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_38' class='fil1' d='M2349.48 2291c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.26 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.45 -45.75,45.71 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_39' class='fil0' d='M101.74 2783.78c25.25,0 45.75,-20.46 45.75,-45.74 0,-25.23 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.47 -45.75,45.7 0,25.28 20.48,45.74 45.75,45.74z'%3E%3C/path%3E%3Cpath id='Path_40' class='fil1' d='M101.74 2783.78c25.25,0 45.75,-20.46 45.75,-45.74 0,-25.23 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.47 -45.75,45.7 0,25.28 20.48,45.74 45.75,45.74z'%3E%3C/path%3E%3Cpath id='Path_41' class='fil0' d='M663.49 2783.74c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.47,-45.72 -45.75,-45.72 -25.25,0 -45.74,20.49 -45.74,45.72 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_42' class='fil1' d='M663.49 2783.74c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.47,-45.72 -45.75,-45.72 -25.25,0 -45.74,20.49 -45.74,45.72 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_43' class='fil0' d='M1225.43 2783.74c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.48,-45.72 -45.75,-45.72 -25.27,0 -45.75,20.49 -45.75,45.72 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_44' class='fil1' d='M1225.43 2783.74c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.48,-45.72 -45.75,-45.72 -25.27,0 -45.75,20.49 -45.75,45.72 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_45' class='fil0' d='M1787.18 2783.74c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.23 -20.48,-45.72 -45.76,-45.72 -25.26,0 -45.75,20.49 -45.75,45.72 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_46' class='fil1' d='M1787.18 2783.74c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.23 -20.48,-45.72 -45.76,-45.72 -25.26,0 -45.75,20.49 -45.75,45.72 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_47' class='fil0' d='M2349.48 2783.74c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.23 -20.47,-45.72 -45.72,-45.72 -25.28,0 -45.75,20.49 -45.75,45.72 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_48' class='fil1' d='M2349.48 2783.74c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.23 -20.47,-45.72 -45.72,-45.72 -25.28,0 -45.75,20.49 -45.75,45.72 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.hero__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}
.hero__item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}
.hero__item:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 3 / 7;
}
.hero__item:nth-child(3) {
    position: relative;
}
.hero__item:nth-child(3)::before {
    position: absolute;
    display: block;
    content: '';
    width: 10rem;
    height: 10rem;
    border-radius: 5rem 0 5rem 0;
    background-color: var(--second-brand-color);
    bottom: 0;
    left: -12rem;
}
.hero__item .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7rem 0 7rem 0;
}
.hero__item:nth-child(2) .img {
    border-radius: 5rem 0 5rem 0;
}




.contacts {
    padding: 15rem 0;
    text-align: center;
}
.contacts .sub-title {
    margin-bottom: 10rem;
}
.contacts__item:not(:last-child) {
    margin-bottom: 8rem;
}
.contacts__item .text {
    position: relative;
}
.contacts__item .text::after {
    position: absolute;
    display: block;
    content: '';
    background-image: linear-gradient(to right bottom, var(--second-brand-color), var(--fifth-brand-color));
    width: 4rem;
    height: 4rem;
    top: -5rem;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 2rem 0 2rem 0;
}
.contacts__item .text::before {
    position: absolute;
    display: block;
    content: '';
    background-color: var(--second-brand-color);
    opacity: .2;
    width: 4rem;
    height: 4rem;
    top: -6rem;
    left: calc(50% - 1rem);
    transform: translate(-50%,0);
    border-radius: 2rem 0 2rem 0;
}




.policy__wrapper {
   background-color: var(--first-brand-color);
}
.policy {
    padding: 15rem 0;
    text-align: center;
    position: relative;
}
.policy .sub-title {
    margin-bottom: 10rem;
}
.policy__sub-title {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.policy__sub-title::before {
    position: absolute;
    display: block;
    content: '';
    width: 60%;
    height: .2rem;
    background-color: var(--main-text-color);
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.policy__item:not(:last-child) {
    margin-bottom: 8rem;
}
.policy__title {
    font-family: var(--title-font);
    font-size: 2rem;
    position: relative;
    margin-bottom: 2rem;
}
.policy__block {
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    padding: 5rem 2rem;
    position: relative;
    border: .1rem solid rgb(206, 206, 206);
    border-radius: 0 0 10rem  0;
}
.policy__item:nth-child(2) .policy__block {
    border-radius: 0 0 0 10rem;
}
.policy__block::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    border-radius: 0 0 15rem 15rem;
    display: block;
    content: '';
    background-color: var(--second-brand-color);
    opacity: .3;
}
.policy__item .text {
    margin-bottom: 3rem;
    position: relative;
}
.policy__btn {
    font-family: var(--title-font);
    font-size: 1.6rem;
    text-transform: lowercase;
    color: var(--second-brand-color);
    border-bottom: .2rem solid var(--second-brand-color);
    transition: all .3s ease-in-out;
}
.policy__item:nth-child(1) .policy__block {
    position: relative;
}
.policy__item .policy__block::after {
    position: absolute;
    display: block;
    content: '';
    width: 10rem;
    height: 10rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' width='2480px' height='3508px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewBox='0 0 2480 3507.43'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .fil1 %7Bfill:%23000000%7D .fil0 %7Bfill:%23000000;fill-rule:nonzero%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Слой_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'%3E%3C/metadata%3E%3Cg id='Page-1'%3E%3Cg id='Artboard-Copy'%3E%3Cg id='___35_1_2_2_1'%3E%3Cpath id='Path' class='fil0' d='M101.74 813.67c25.25,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_0' class='fil1' d='M101.74 813.67c25.25,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_1' class='fil0' d='M663.49 813.67c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_2' class='fil1' d='M663.49 813.67c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_3' class='fil0' d='M1225.43 813.67c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_4' class='fil1' d='M1225.43 813.67c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_5' class='fil0' d='M1787.18 813.67c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_6' class='fil1' d='M1787.18 813.67c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_7' class='fil0' d='M2349.48 813.67c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_8' class='fil1' d='M2349.48 813.67c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_9' class='fil0' d='M101.74 1306.41c25.25,0 45.75,-20.46 45.75,-45.72 0,-25.25 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.45 -45.75,45.7 0,25.26 20.48,45.72 45.75,45.72z'%3E%3C/path%3E%3Cpath id='Path_10' class='fil1' d='M101.74 1306.41c25.25,0 45.75,-20.46 45.75,-45.72 0,-25.25 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.45 -45.75,45.7 0,25.26 20.48,45.72 45.75,45.72z'%3E%3C/path%3E%3Cpath id='Path_11' class='fil0' d='M663.49 1306.37c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.74 -45.75,-45.74 -25.25,0 -45.74,20.49 -45.74,45.74 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_12' class='fil1' d='M663.49 1306.37c25.28,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.47,-45.74 -45.75,-45.74 -25.25,0 -45.74,20.49 -45.74,45.74 0,25.25 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_13' class='fil0' d='M1225.43 1306.37c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.74 -45.75,-45.74 -25.27,0 -45.75,20.49 -45.75,45.74 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_14' class='fil1' d='M1225.43 1306.37c25.27,0 45.75,-20.46 45.75,-45.71 0,-25.25 -20.48,-45.74 -45.75,-45.74 -25.27,0 -45.75,20.49 -45.75,45.74 0,25.25 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_15' class='fil0' d='M1787.18 1306.37c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.74 -45.76,-45.74 -25.26,0 -45.75,20.49 -45.75,45.74 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_16' class='fil1' d='M1787.18 1306.37c25.28,0 45.76,-20.46 45.76,-45.71 0,-25.25 -20.48,-45.74 -45.76,-45.74 -25.26,0 -45.75,20.49 -45.75,45.74 0,25.25 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_17' class='fil0' d='M2349.48 1306.37c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.74 -45.72,-45.74 -25.28,0 -45.75,20.49 -45.75,45.74 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_18' class='fil1' d='M2349.48 1306.37c25.25,0 45.72,-20.46 45.72,-45.71 0,-25.25 -20.47,-45.74 -45.72,-45.74 -25.28,0 -45.75,20.49 -45.75,45.74 0,25.25 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_19' class='fil0' d='M101.74 1798.67c25.25,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_20' class='fil1' d='M101.74 1798.67c25.25,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.5,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_21' class='fil0' d='M663.49 1798.67c25.28,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.26 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_22' class='fil1' d='M663.49 1798.67c25.28,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.46 -45.74,45.71 0,25.26 20.49,45.71 45.74,45.71z'%3E%3C/path%3E%3Cpath id='Path_23' class='fil0' d='M1225.43 1798.67c25.27,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_24' class='fil1' d='M1225.43 1798.67c25.27,0 45.75,-20.45 45.75,-45.71 0,-25.25 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.46 -45.75,45.71 0,25.26 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_25' class='fil0' d='M1787.18 1798.67c25.28,0 45.76,-20.45 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.26 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_26' class='fil1' d='M1787.18 1798.67c25.28,0 45.76,-20.45 45.76,-45.71 0,-25.25 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.46 -45.75,45.71 0,25.26 20.49,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_27' class='fil0' d='M2349.48 1798.67c25.25,0 45.72,-20.45 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.26 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_28' class='fil1' d='M2349.48 1798.67c25.25,0 45.72,-20.45 45.72,-45.71 0,-25.25 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.46 -45.75,45.71 0,25.26 20.47,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_29' class='fil0' d='M101.74 2291.04c25.25,0 45.75,-20.48 45.75,-45.71 0,-25.25 -20.5,-45.73 -45.75,-45.73 -25.27,0 -45.75,20.48 -45.75,45.73 0,25.23 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_30' class='fil1' d='M101.74 2291.04c25.25,0 45.75,-20.48 45.75,-45.71 0,-25.25 -20.5,-45.73 -45.75,-45.73 -25.27,0 -45.75,20.48 -45.75,45.73 0,25.23 20.48,45.71 45.75,45.71z'%3E%3C/path%3E%3Cpath id='Path_31' class='fil0' d='M663.49 2291c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.45 -45.74,45.71 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_32' class='fil1' d='M663.49 2291c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.47,-45.71 -45.75,-45.71 -25.25,0 -45.74,20.45 -45.74,45.71 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_33' class='fil0' d='M1225.43 2291c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.45 -45.75,45.71 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_34' class='fil1' d='M1225.43 2291c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.26 -20.48,-45.71 -45.75,-45.71 -25.27,0 -45.75,20.45 -45.75,45.71 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_35' class='fil0' d='M1787.18 2291c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.26 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.45 -45.75,45.71 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_36' class='fil1' d='M1787.18 2291c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.26 -20.48,-45.71 -45.76,-45.71 -25.26,0 -45.75,20.45 -45.75,45.71 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_37' class='fil0' d='M2349.48 2291c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.26 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.45 -45.75,45.71 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_38' class='fil1' d='M2349.48 2291c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.26 -20.47,-45.71 -45.72,-45.71 -25.28,0 -45.75,20.45 -45.75,45.71 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_39' class='fil0' d='M101.74 2783.78c25.25,0 45.75,-20.46 45.75,-45.74 0,-25.23 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.47 -45.75,45.7 0,25.28 20.48,45.74 45.75,45.74z'%3E%3C/path%3E%3Cpath id='Path_40' class='fil1' d='M101.74 2783.78c25.25,0 45.75,-20.46 45.75,-45.74 0,-25.23 -20.5,-45.7 -45.75,-45.7 -25.27,0 -45.75,20.47 -45.75,45.7 0,25.28 20.48,45.74 45.75,45.74z'%3E%3C/path%3E%3Cpath id='Path_41' class='fil0' d='M663.49 2783.74c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.47,-45.72 -45.75,-45.72 -25.25,0 -45.74,20.49 -45.74,45.72 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_42' class='fil1' d='M663.49 2783.74c25.28,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.47,-45.72 -45.75,-45.72 -25.25,0 -45.74,20.49 -45.74,45.72 0,25.25 20.49,45.73 45.74,45.73z'%3E%3C/path%3E%3Cpath id='Path_43' class='fil0' d='M1225.43 2783.74c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.48,-45.72 -45.75,-45.72 -25.27,0 -45.75,20.49 -45.75,45.72 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_44' class='fil1' d='M1225.43 2783.74c25.27,0 45.75,-20.48 45.75,-45.73 0,-25.23 -20.48,-45.72 -45.75,-45.72 -25.27,0 -45.75,20.49 -45.75,45.72 0,25.25 20.48,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_45' class='fil0' d='M1787.18 2783.74c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.23 -20.48,-45.72 -45.76,-45.72 -25.26,0 -45.75,20.49 -45.75,45.72 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_46' class='fil1' d='M1787.18 2783.74c25.28,0 45.76,-20.48 45.76,-45.73 0,-25.23 -20.48,-45.72 -45.76,-45.72 -25.26,0 -45.75,20.49 -45.75,45.72 0,25.25 20.49,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_47' class='fil0' d='M2349.48 2783.74c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.23 -20.47,-45.72 -45.72,-45.72 -25.28,0 -45.75,20.49 -45.75,45.72 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3Cpath id='Path_48' class='fil1' d='M2349.48 2783.74c25.25,0 45.72,-20.48 45.72,-45.73 0,-25.23 -20.47,-45.72 -45.72,-45.72 -25.28,0 -45.75,20.49 -45.75,45.72 0,25.25 20.47,45.73 45.75,45.73z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: -4rem;
    right: -1rem;
}
.policy__item:nth-child(2) .policy__block::after {
    right: auto;
    left: -1rem;
}

@media screen and (min-width: 1440px)  {
    .hero__wrapper-main {
        position: relative;
    }
    .hero__wrapper-main::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--first-brand-color);
        z-index: -6;
    }
    .hero__wrapper-main::before {
        background-color: var(--main-bg-color);
        position: absolute;
        display: block;
        content: '';
        width: 65%;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 0 0 20rem 0;
        z-index: -5;
    }
    .hero__wrapper {
        position: relative;
    }
    .hero {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .hero .text {
        margin-left: 0;
    }
    .hero .btn,
    .hero__list {
        margin: 0;
    }
    .hero__item:nth-child(3)::before {
        width: 15rem;
        height: 15rem;
        border-radius: 7rem 0 7rem 0;
        left: -17rem;
    }
    .hero__list::before {
        top: -15rem;
        left: -15rem;
        width: 40rem;
        height: 40rem;
    }

    .hero .title {
        max-width: 50rem;
    }




    .policy__list {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .policy__item:not(:last-child) {
        margin-bottom: 0;
        margin-left: 10rem;
    }
    .policy__item .policy__block::after {
        width: 18rem;
        height: 18rem;
        bottom: -7rem;
        right: -7rem;
    }
    .policy__item:nth-child(2) .policy__block::after {
        right: auto;
        left: -7rem;
    }
    .policy__btn:hover {
        letter-spacing: .3rem;
    }
    

    .contacts__list {
        display: flex;
        justify-content: space-around;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 0;
    }
    .contacts__item {
        width: 30%;
    }
    .contacts .sub-title {
        margin-bottom: 15rem;
    }
    .contacts__item-link .text {
        transition: all .3s ease-in-out;
    }
    .contacts__item-link .text:hover {
        letter-spacing: .3rem;
    }
}
